{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="text-center">
    <!-- <h1>{% trans "Sign Up" %}</h1> -->

    <p class="px-1 px-sm-0">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>
<!-- <div class="row">
    <div class="col-md-6 offset-md-3"> -->
        <form class="form px-4 px-sm-5 py-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-grid mt-3">
            <button class="btn btn-dark form-control" type="submit">{% trans "Sign Up" %}</button>
        </div>

        <hr />

        <!-- SSO Login -->
        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
            <!-- -----------------------------story text -->   
            <!-- <p>{% blocktrans with site.name as site_name %} Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> -->

            
            <!-- --- accounts -->
            <div class="socialaccount_ballot">

                <div class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </div>

            </div>
            {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
    </form>
    <!-- </div>
</div> -->

<script>
    let height = window.innerHeight;

    document.querySelector('.container-box').style.height = `${height}px`;
    window.onresize = function(){ location.reload(); }
</script>
{% endblock %}