:root {
	--red: #dc3545;
	--lighter: whitesmoke;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-left: auto;
	margin-right: auto;
	/* background: #fff url("../images/bg-img.jpg") no-repeat right top; */
	font-family: "Montserrat", sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	z-index: 22;
}

.fab {
	width: 30px;
	height: 25px;
	padding-top: 3px;
}

.container-box {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	/* color: var(--lighter); */
}

.form {
	width: 35%;
	color: #333;
	background-color: var(--lighter);
	/* border: 1px solid #dee2e6; */
	border-color: #343a40;
	border-radius: 6px;
	box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
}

.asteriskField {
	color: var(--red);
}

hr {
	background-color: #6c757d;
}

.cta {
	position: fixed;
	bottom: 15px;
	right: 25px;
}

.cta a {
	display: block;
	margin-bottom: 13px;
	color: inherit;
}

.mybtn {
	box-shadow: #2a2727ad 1px 1px 8px 0px;
}

/* dashboard */
.bg-dash {
	position: absolute;
	top: 45px;
	left: 0;
	background: #343a40;
	color: white;
	width: 100%;
	padding: 50px 7%;
	height: 50vh;
	z-index: -1;
}

.pop-up-lg, .pop-up-sm {
	/* width: 70%; */
	padding: 30px;
	/* border: 1px solid red; */
	border-radius: 8px;
	box-shadow: #2a2727ad 1px 1px 8px 0px;
	z-index: 1;
	background-color: #fff;
}

.pop-up-sm {
	width: 50%;
}

.pop-up-lg {
	width: 70%;
}

.pop-up-lg i, .pop-up-sm i {
	margin-left: 5px;
}

.angle-tilt {
	transform: rotate(-15deg);
}

/* media queries */

@media screen and (max-width: 468px) {
	.form-block {
		display: block;
	}
	.form {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.pop-up-sm {
		width: unset;
	}

	.bg-dash {
		padding: 6.5% 7%;
	}
}

@media screen and (max-width: 1024px) {
	.form {
		width: unset;
	}

	.cta {
		position: fixed;
		bottom: 15px;
		right: 25px;
	}
	
	.cta a {
		display: inline-block;
		/* display: inline; */
		width: 38px;
    	height: 34px;
		padding: 6px 4px;
		margin: 5px;
		border-radius: 50%;
		color: #343a40;
		background-color: #fff;
		box-shadow: #343a40 1px 1px 8px 0px;
		text-align: center;    
	}

	.pop-up-lg {
		width: unset;
	}
	.pop-up-sm {
		width: 70%;
	}
}