:root {
	--red: #dc3545;
	--lighter: whitesmoke;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-left: auto;
	margin-right: auto;
	/* max-width: 1920px; */
	background: #fff url("img_tree.png") no-repeat right top;
	font-family: "Montserrat", sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.fab {
	width: 30px;
	height: 25px;
	padding-top: 3px;
}

.container-box {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* color: var(--lighter); */
}

.form {
	width: 35%;
	color: #333;
	background-color: var(--lighter);
	border: 1px solid #dee2e6;
	border-color: #343a40;
	border-radius: 6px;
	box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
}

.asteriskField {
	color: var(--red);
}

hr {
	background-color: #6c757d;
}