:root {
	--red: #dc3545;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* margin-left: auto;
	margin-right: auto; */
	/* max-width: 1920px; */
	background: #333 url("img_tree.png") no-repeat right top;
	font-family: "Montserrat", sans-serif;
}

.container-box {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form {
	width: 35%;
	border: 1px solid #dee2e6;
	border-color: var(--red);
	border-radius: 6px;
	box-sizing: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
}

.form .required {
	color: var(--red);
}
